@import url('https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
}

.weather-info {
  -moz-box-shadow: 0 0 20px #ccc;
  -webkit-box-shadow: 0 0 20px #ccc;
  box-shadow: 0 0 20px #ccc;
  max-width: 600px;
  padding: 50px;
  margin: 20px auto;
}

.vertical-align {
  margin: 30px auto;
}

.weather-temp {
  font-size: 700%;
  font-weight: lighter;
}

.weather-description {
  font-weight: 550;
  color: #a9a9a9;
}

.weather-country {
  font-size: 110%;
  color: #a9a9a9;
}

.weather-city {
  font-weight: 800;
  font-size: 110%;
}

input.transparent-input {
  border: none !important;
}

.transparent-input {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

input.transparent-input {
  background-color: rgba(0, 0, 0, 0) !important;
  border: none !important;
}
